

.dots-movie{
    top: -38px;
    right: 0px;
    text-align: right;
    height:10px;
}
.movie-list{
    margin-right: 4px;
}
.slick-prev, .slick-next{
    color: red;
}
.dots-movie li button{
    width: 24px;
    height: 4px;
    background-color: #ccc;
    border-radius: 4px;
    padding: 0;
}
.dots-movie li:global(.slick-active) button {
   

    background-color: #fff;
}
.dots-movie li button::before{ 
    content: '';
}
@media (max-width: 1024px) {
   
}
@media (max-width: 768px){
   
    .featureFilm{
        padding: 0 0px;
      }
    
    .dots-movie{
        right: 8px;
    }
}
